body {
      background-color: #018281 ;
    }
    
.box {
      border: 1px solid black;
      height: 180px;
      width: 600px;
      margin:auto;
      margin-top: 100px;
      background-color: #C0C0C0;
       font-family: Garamond ;
}

.title {
      color:white;
      background-color: #000080;
      height: 13%;
     margin: 3px 3px 0px 3px;  
    }    

  .title p {
    display:inline-block;
    width: 80%;
    margin: inherit;    
  }
 
.title button{
  width:15px;
  height:15px;
  float:right;
  margin: inherit;
}


#leftside {
  text-align: center;
  display: inline-block;

}

#leftside p {
  margin: 15px 0px 30px 120px;
}

#dialogs label { 
float:left;
clear:left;
margin: 0px 0px 15px 100px;
width: 100px;
}

#buttons {
  height:50px;
  width:100px;
 float:right;
  margin-top: 13px;
    font-family: Garamond;
}
#ok {
  margin-bottom: 10px;
  width:80px;
  height: 25px;
  font-family: Garamond;
}
#cancel {
  width:80px;
  height: 25px;
  font-family: Garamond;
}
button {
  display:block;
}

input {
  width:150px;
  float:left;

}

img{
float:left 20px;
position:absolute;
margin: 10px 0px 0px 15px;
height: 75px ;
}

  